@charset "utf-8";

:root {
	/* color */
	--color-green: #6aff00;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-violet: #9500ff;
}
* {
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	margin: 0;
	cursor: default;
	font-family: 'RIDIBatang';
}

a {
	text-decoration: none;
	color: var(--color-white);
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

button,
input {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
	display: flex;
	flex-direction: column;
}

/* header */
.head__borderbottom {
	background-color: var(--color-green);
}

.head__borderbottom h1 {
	color: var(--color-green);
}

.head__borderbottom img {
	width: 12vmax;
	margin: 30px;
}

section,
header {
	width: 100vmax;
}

/* header,
.chooseFood {
	opacity: 0.5;
} */

/* food pop-up */

.chooseFood__popUp {
	/* display: none; */
	opacity: 0;
	pointer-events: none;
	background-color: var(--color-white);
	position: fixed;
	outline: 3px solid var(--color-violet);
	border-radius: 20px;
	width: 40vmax;
	height: 34vmax;
	top: 7%;
	left: 28vmax;
}

.chooseFood__popUp__img img {
	width: 26vmax;
	height: 17vmax;
	outline: 3px solid var(--color-green);
}

.chooseFood__popUp__img {
	width: 40vmax;
	padding: 0.8vmax 7vmax;
}

.chooseFood__popUp__xmark {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0.5vmax 1vmax;
}

.chooseFood__popUp__xmark i {
	font-size: 3vmax;
}

.chooseFood__popUp.pop {
	opacity: 1;
	pointer-events: all;
}

.chooseFood.noClick {
	pointer-events: none;
}

/* food */
.chooseFood__padding {
	padding: 10px 50px 50px;
}
.chooseFood__warp {
	width: 70vmax;
	display: flex;
	margin: 0 auto;
	padding: 20px 10px;
	justify-content: space-between;
}

.chooseFood__warp:last-of-type {
	margin-bottom: 90px;
}

.chooseFood__img {
	cursor: pointer;
}

.chooseFood__img img {
	width: 30vmax;
	height: 20vmax;
	outline: 3px solid var(--color-green);
}

.chooseFood__text__wrap span {
	font-size: 1.3rem;
	margin-right: 20px;
}

.spin__wrap {
	display: flex;
}

.spin,
.cartIcon {
	outline: 1px solid var(--color-green);
}

.spin {
	width: 40px;
	font-size: 2rem;
}

.cartIcon {
	padding: 0;
}

.cartIcon i {
	font-size: 2rem;
}

/* money */
.money {
	background-color: var(--color-green);
	position: fixed;
	bottom: 0;
	height: 100px;
}

.money__input__wrap {
	width: 75vmax;
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	justify-content: space-evenly;
}

.money__fee__wrap h1 {
	margin-top: 0;
}

.money__input__wrap input {
	font-size: large;
}

.money__btn__wrap {
	display: flex;
	margin-top: 30px;
}

.charge,
.reject {
	border-radius: 5px;
	background-color: var(--color-violet);
	color: var(--color-green);
	font-size: large;
	font-weight: 900;
	padding: 10px 30px;
}

.charge {
	margin-right: 50px;
}

/* media query */
@media (max-width: 1024px) {
	.chooseFood__popUp {
		height: 41vmax;
		top: 30%;
	}

	.money__input__wrap {
		width: 80vmax;
		padding: 10px 25px;
	}
}

@media (max-width: 786px) {
	.chooseFood__padding {
		padding: 0;
		padding-top: 20px;
	}

	.chooseFood__warp {
		flex-direction: column;
		flex-grow: 1;
	}

	.chooseFood__img {
		margin-bottom: 50px;
	}

	.chooseFood__img:last-of-type {
		margin-bottom: 0;
	}

	.chooseFood__img img {
		width: 60vmax;
		height: 40vmax;
	}
}
