@charset "utf-8";

:root {
	/* color */
	--color-green: #6aff00;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-violet: #9500ff;
}
* {
	box-sizing: border-box;
	overflow-x: hidden !important;
}

body {
	margin: 0;
	cursor: default;
	font-family: 'RIDIBatang';
}

a {
	text-decoration: none;
	color: var(--color-white);
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

button,
input {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
	display: flex;
	flex-direction: column;
}

/* header */
.head__borderbottom {
	background-color: var(--color-green);
}

.head__borderbottom h1 {
	color: var(--color-green);
}

.head__borderbottom img {
	width: 12vmax;
	margin: 30px;
}

section,
header {
	width: 100vmax;
}

/* choose menu */
.chooseMenu {
	background-color: var(--color-green);
}

.chooseMenu__wrap {
	display: flex;
	width: 70vmax;
	margin: 0 auto;
}

.menuClick {
	border: 3px solid var(--color-white);
	padding: 10px;
	width: 10rem;
	border-radius: 5px 40px 0 0;
	text-align: center;
	color: var(--color-white);
	cursor: pointer;
}

.menuClick span {
	font-size: 2rem;
}

.chooseCoffee {
	display: none;
}

.chooseMenu__wrap .active {
	background-color: var(--color-white);
	color: var(--color-green);
	font-weight: 900;
}

/* food pop-up */

.chooseFood__popUp {
	opacity: 0;
	pointer-events: none;
	background-color: var(--color-white);
	position: fixed;
	outline: 3px solid var(--color-violet);
	border-radius: 20px;
	width: 40vmax;
	height: 34vmax;
	top: 7%;
	left: 28vmax;
}

.chooseFood__popUp__img img {
	width: 26vmax;
	height: 17vmax;
	outline: 3px solid var(--color-green);
}

.chooseFood__popUp__img {
	width: 40vmax;
	padding: 0.8vmax 7vmax;
}

.wrap__top {
	display: flex;
}

.wrap__bottom select {
	height: 100%;
	width: 90%;
}

.chooseFood__popUp__xmark {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0.5vmax 1vmax;
}

.chooseFood__popUp__xmark i {
	font-size: 3vmax;
}

.chooseFood__popUp.pop {
	opacity: 1;
	pointer-events: all;
}

.chooseMenu.noClick,
.chooseCoffee.noClick,
.chooseFood.noClick,
.money.noClick {
	pointer-events: none;
}

#extra {
	display: none;
	margin-left: 20px;
	padding: 0 20px;

	font-size: medium;
	appearance: none;
}

/* food */
.chooseFood__padding,
.chooseCoffee__padding {
	padding: 10px 50px 50px;
}
.chooseFood__wrap,
.chooseCoffee__wrap {
	width: 70vmax;
	display: flex;
	margin: 0 auto;
	padding: 20px 10px;
	justify-content: space-between;
}

.chooseFood__wrap:last-of-type,
.chooseCoffee__wrap:last-of-type {
	margin-bottom: 90px;
}

.chooseFood__img,
.chooseCoffee__img {
	cursor: pointer;
}

.chooseFood__img img,
.chooseCoffee__img img {
	width: 30vmax;
	height: 20vmax;
	border: 3px solid var(--color-green);
}

.chooseFood__text__wrap span,
.chooseCoffee__text__wrap span {
	font-size: 1.3rem;
}
.wrap__top .won {
	margin-right: 20px;
}

.spin__wrap {
	display: flex;
}

.spin,
.cartIcon,
#extra {
	border: 1px solid var(--color-green);
}

.spin {
	width: 40px;
	font-size: 2rem;
}

.cartIcon {
	padding: 0;
}

.cartIcon i {
	font-size: 2rem;
}

/* money */
.money {
	background-color: var(--color-green);
	position: fixed;
	bottom: 0;
	height: 100px;
}

.money__input__wrap {
	width: 75vmax;
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	justify-content: space-evenly;
}

.money__fee__wrap h1 {
	margin-top: 0;
}

.money__input__wrap input {
	font-size: large;
}

.money__btn__wrap {
	display: flex;
	margin-top: 30px;
}

.charge,
.reject {
	border-radius: 5px;
	background-color: var(--color-violet);
	color: var(--color-green);
	font-size: large;
	font-weight: 900;
	padding: 10px 30px;
}

.charge {
	margin-right: 50px;
}

/* media query */
@media (max-width: 1400px) {
	.chooseFood__popUp {
		height: 38vmax;
		width: 32vmax;
		left: 35vmax;
	}

	.popUp__spin__wrap {
		display: flex;
		flex-direction: column;
	}

	.wrap__bottom #extra {
		margin: 10px 0 0 0;
		width: initial;
		height: 2.5rem;
	}

	.chooseFood__popUp__img img {
		width: 18vmax;
	}
}
@media (max-width: 1050px) {
	.chooseFood__popUp {
		height: 45vmax;
		top: 10%;
	}

	.money__input__wrap {
		width: 80vmax;
		padding: 10px 25px;
	}
}

@media (max-width: 786px) {
	* {
		overflow-x: auto !important;
	}

	.chooseMenu__wrap {
		width: 90vmax;
	}

	.chooseFood__popUp {
		height: 47vmax;
		width: 35vmax;
		top: 10%;
		left: 30%;
	}
	.chooseFood__padding,
	.chooseCoffee__padding {
		padding: 0;
		padding-top: 20px;
	}

	.money {
		height: 140px;
	}

	.money__input__wrap {
		display: flex;
		flex-direction: column;
	}

	.chooseFood__wrap,
	.chooseCoffee__wrap {
		flex-direction: column;
		flex-grow: 1;
	}

	.chooseFood__img,
	.chooseCoffee__img {
		margin-bottom: 50px;
	}

	.chooseFood__img:last-of-type,
	.chooseCoffee__img:last-of-type {
		margin-bottom: 0;
	}

	.chooseFood__img img,
	.chooseCoffee__img img {
		width: 45vmax;
		height: 30vmax;
	}
}
@media (max-width: 400px) {
	.chooseFood__wrap,
	.chooseCoffee__wrap {
		width: 90vmax;
	}

	.chooseFood__img img,
	.chooseCoffee__img img {
		width: 30vmax;
		height: 20vmax;
	}

	.chooseFood__popUp {
		left: 8vmax;
	}

	.money__input__wrap {
		width: 90vmax;
	}

	.money__fee__wrap h1 {
		font-size: medium;
	}

	.money__input__wrap input {
		font-size: medium;
	}

	.charge,
	.reject {
		font-size: medium;
		font-weight: 900;
		padding: 5px 15px;
	}

	.charge {
		margin-right: 50px;
	}

	.menuClick {
		padding: 10px;
		width: 8rem;
		text-align: center;
	}

	.menuClick span {
		font-size: 1rem;
	}
}
